.moneyback{
  padding: 25px 0;
  background: #fff;
  .mbg{
    width: 80px;
    float: left;
  }
  h5{
    font-size: 16px;
    font-weight: 900;
    color:$main-text-color;
  }
  p{
    font-size: 16px;
    font-weight: 300;
    a{
      color:#1197eb;
    }
  }
}
