.steps-sec {
  padding-top:20px;
  padding-bottom:25px;
  background-color: #fff;
  text-align: center;
  .step-no{
    .column{
      padding-top:30px;
      background-repeat: no-repeat;
      background-position: top center;
      max-width:292px;
      &.one{
        background-image: url('/assets/img/step1.jpg');
      }
      &.two{
        background-image: url('/assets/img/step2.jpg');
      }
      &.three{
        background-image: url('/assets/img/step3.jpg');
      }
      &.four{
        background-image: url('/assets/img/step4.jpg');
      }
    }
    p{
      font-size: 14px;
      font-weight: 400;
      color: $main-text-color;
      margin-top: 8px;
    }
  }
  h1{
    font-family: $Lato;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 900;
    color: $main-text-color;
    margin-top: 19px;
  }
  h4{
    font-size: 24px;
    line-height: 1;
    font-weight: 300;
    color: #4a4a4a;
    margin-bottom: 0;
    margin-top: 5px;
  }
}
.prod-selection {
   padding: 46px 0 0 0;
  .column {
    background: #fff;
    border:1px solid #CACACA;
    max-width: 226px;
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-bottom: 25px;
    padding: 55px 0;
    height: 226px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    p{
      font-size: 16px;
      font-weight: 900;
      color:$main-text-color;
      position: absolute;
      bottom:36px;
      left:0;
      right:0;
      // margin-bottom: 0;
      // margin-top: 18px;
    }

    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.10);
      transition: shadow 0.5s ease;
    }
    &.something-else{
      &.active{
        background-color: #eee;
      }
    }
  }
}
.something-else-wrap{
  max-width:978px;
  border:1px solid #CACACA;
  background: #fff;
  margin-bottom::46px;
}