<footer>
    <div class="row">
        <div class="column large-8  small-12 small-order-2 large-order-1">
            <p> Copyright 2016 DesignCrowd. Use of this website constitutes acceptance of our <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>.</p>
            <p>*Conditions apply please see our <a href="#">money back refund policy</a>.</p>
        </div>
        <div class="column large-4 small-12 small-order-1 large-order-2">
            <img src="assets/img/secure-badge.svg" alt="ssl 128bit">
        </div>
    </div>
</footer>